@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";
@source "../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";

@plugin "./hero.ts";

@custom-variant dark (&:where(.dark, .dark *));

* {
  font-family: 'Inter', sans-serif;
}
